/* JASSS article style sheet 

	NG 13 April 2011
	
*/
body {
    margin:0;
    padding:10px; 
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:98%;          /* reduce width to allow for vertical scroll bar */
    background:white;
    color:black;
    min-width:600px;    /* Minimum width of layout */
    /* use Unicode font if possible to allow for special characters */
	font-family: "Arial Unicode MS", Verdana, Geneva, Arial, sans-serif;
}

/* content container (everything except the header and footer) */
.content {
}

/* the article body */
.article {
    margin: auto 2em auto 1em;
    line-height: 150%;
}

.header {
    margin: auto 2em auto 1em;
}

.footer {
}

/* all the article tools stuff should only display on the screen */

@media screen {

    /* the tools menu */
    
    #toolsicon {
        float: right;
        margin: 0 20px;
        /* add rounded corners to panel; works only with Firefox and Safari, ignored by IE */
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background: white;
        width: 40px;
        border: 1px solid red;
        font-size: 90%;	
        text-align: center;
        color: black;
   }
    #toolsicon a {
        font-size: 50%;	
        color: black;
   }
   
    .tools {
        float:right;
        font-size: 11px;
    } 
       
    .tools .menu {
        width:150px;
        margin: 15px;		
        background: #EEE;
        border: 1px solid red;
        padding: 7px;
        /* add rounded corners to panel; works only with Firefox and Safari, ignored by IE */
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    .tools .content { 
        float:none;
        text-align: center;
        border-top: 1px dotted black;
    }

    .tools .title {
        float:none;
        text-align: center;
    }

    .tools .title a {
        color: black;
    }

    .tools .panel {
        float: none;
        margin: 0px;
        padding: 5px;
        font-size: 90%;	
        border-bottom: 1px dotted black;
    }

    .tools .panel a {
        color: black;
        text-decoration: none;
    }

    .tools .panel a:hover {
        background-color:#FC9;
    }

}
	
/* main content */
a:link {
	color:#0000ff;
	}
a:visited {
	color:#006633;
	}
a:active {
	color:#99cc99;
	}
	
img {
	border:0;
	}
	
h1, h2, h3 {
	font-weight: bold;
	font-size: large;
	}
h4 {
	font-weight: bold;
	}
h5 {
	font-weight: bold; 
	font-style: italic; 
	font-size: 95%;
	}
h6 {
	font-weight: normal; 
	font-style: italic;
	font-size: 90%;
	}

h3 img {
	vertical-align: -20%;
	padding-right: 15px;
}

/*
dl[compact] dt { float: left; clear:both; padding-right: 0.5em}
dl[compact] dd { padding-left: 0.5em; } */

dl[compact] { padding-left: 3em;} 
dl[compact] dt { display: inline-block; margin-left: -3em; width: 3em;}
dl[compact] dd { display: inline; margin: 0; }

tt, pre { font-size: 120%; }

.textit {
    font-style: italic;
    }
.textbf {
    font-weight: bold;
    }
    

.acrobat, .back, .bookorder {
	}
	
.copyright {
	font-size: x-small;
	}

.artauthor {
	font-size: 130%;
	font-weight: bold;
	}
	
.artauthor sup {
	font-size:70%;
	}

.arttitle {
	font-size: 140%;
	font-weight: bold;
	text-align: center;
	}
	
.artlocation {
	font-size: 120%;
	text-align: center;
	}
    
.artinfo, .artdates {
	font-size: 80%;
	text-align: center;
	}
	
.artaffil {
	font-size: 80%;
	font-weight: normal;
	}

.artdoi {
	font-size: 80%;
	font-weight: normal;
	}

	
.footer {
	font-size: small;
	text-align: center;
}

/* adapt style for printing */

@media print {
    body, table, tr, td {font-size: 8pt}
    .tools {display:none}
    a {color: black; text-decoration: none}
    a:link, a:visited, a:active {color:black}
    .article {
		margin: auto 2em auto 1em;
		line-height: 150%;
		overflow: hidden;
		}
	img {max-width: 600px;}
    .artauthor {text-align: left; font-weight: normal; font-size: large} 
    .arttitle {text-align: left; font-weight: bold; font-size: large} 
    .artlocation, .artdates {text-align: left}
    .artinfo {display: none}
    h3 img {display:none;}
    .back {display: none}
    #footer {display: none;}
}

